<div *ngIf="!isFullScreen">
  <app-toolbar></app-toolbar>
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" opened>
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span style="font-size: 16px">Scripts</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="toolbar-icon" (click)="_list.addscripts()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list *ngFor="let script of _list.scripts; let i=index" [ngClass]="{'mt-46': i === 0}">
      <mat-list-item [class.selected]="script.id === _list.selectedScript.id"
        (click)="_list.selectScript(script)">
        <mat-icon mat-list-icon>view_module</mat-icon>
        <h4 mat-line>{{ script.name }}</h4>
        <button class="mr-8" mat-icon-button matTooltip="Add IP" *ngIf="_list.selectedScript.id === script.id" (click)="_list.addIP($event)">
          <mat-icon>add</mat-icon>
        </button>
        <button class="mr-8" mat-icon-button matTooltip="Diagram" *ngIf="_list.selectedScript.id === script.id" (click)="_list.diagram($event, script)">
          <mat-icon>device_hub</mat-icon>
        </button>
        <button class="mr-8" mat-icon-button matTooltip="Delete" *ngIf="_list.selectedScript.id === script.id" (click)="_list.deleteScript(script, $event)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>   
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content id="content" [ngClass]="{'overflow-hide': _list.selectedComputer && _list.selectedComputer.id}">
    <div class="screen">
      <div *ngFor="let pc of _list.computers" [class.pc-small]="!pc.fullScreen" [class.pc]="pc.fullScreen">
        <div class="loading" *ngIf="!pc.success">
          <img *ngIf="pc.connecting" src="/assets/img/loading.gif" alt="">
          <h2 class="mat-title" *ngIf="!pc.connecting && !pc.disconnect">
            Can not the connect to {{ pc.ip }}
          </h2>
          <button mat-raised-button *ngIf="!pc.connecting" color="primary" (click)="_list.reconnect(_list.selectedComputer)">
            {{ pc.disconnect ? 'Connect' : 'Reconnect' }}
          </button>
        </div>
        <iframe *ngIf="pc.success" [src]="pc.api" frameborder="0">
        </iframe>
        <mat-toolbar color="accent">
          <mat-toolbar-row>
            <mat-icon>person</mat-icon>
            <span style="font-size: 16px; margin-left: 12px">
              {{ pc.name }} : {{ pc.ip }}
            </span>
            <span class="toolbar-spacer"></span>
            <button color="warn" mat-icon-button matTooltip="Stop" *ngIf="pc.success" (click)="_list.disconnect(pc)">
              <mat-icon>stop</mat-icon>
            </button>
            <button mat-icon-button matTooltip="New Tab" (click)="_list.openNewTab(pc)">
              <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="!pc.fullScreen" mat-icon-button matTooltip="Full Screen" (click)="_list.selectComputer(pc)">
              <mat-icon>fullscreen</mat-icon>
            </button>
            <button *ngIf="pc.fullScreen" mat-icon-button matTooltip="Exit Full Screen" (click)="_list.removeFullScreen(pc)">
                <mat-icon>fullscreen_exit</mat-icon>
              </button>
            <button mat-icon-button matTooltip="Delete" *ngIf="!pc.fullScreen" (click)="_list.delete(pc)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </div>
  </mat-sidenav-content>

  <mat-sidenav class="sidenav" #sidenav mode="side" position="end" [opened]="_list.selectedComputer && _list.selectedComputer.id && _list.computers.length > 1">
    <div class="small-screen">
      <div *ngFor="let pc of _list.computers" class="pc" [class.selected-pc]="pc.id === _list.selectedComputer.id">
        <mat-toolbar color="accent">
          <mat-toolbar-row>
            <span style="font-size: 16px">{{ pc.ip }}: {{ pc.name }}</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button class="btn-menu" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="!pc.fullScreen && _list.computers.length > 1" (click)="_list.selectComputer(pc)">
                  <mat-icon>zoom_in</mat-icon>
                  <span>Zoom</span>
                </button>
                <button mat-menu-item *ngIf="pc.success" (click)="_list.disconnect(pc)">
                  <mat-icon>power_settings_new</mat-icon>
                  <span>Disconnect</span>
                </button>
                <button mat-menu-item (click)="_list.delete(pc)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="loading" *ngIf="!pc.success">
          <img *ngIf="pc.connecting" src="/assets/img/loading.gif" alt="">
          <h2 class="mat-title" *ngIf="!pc.connecting && !pc.disconnect">Can not the connect to {{ pc.ip }}</h2>
          <button mat-raised-button *ngIf="!pc.connecting" color="primary" (click)="_list.reconnect(pc)">
            {{ pc.disconnect ? 'Connect' : 'Reconnect' }}
          </button>
        </div>
        <iframe [id]="pc.ip" *ngIf="pc.success" [src]="pc.api" frameborder="0">
        </iframe>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
