@import '../../../scss/var';
@import '../../../scss/theme';

mat-sidenav-container {
  width: 100%;
  height: calc(100% - 56px);
  position: relative;

  &.full-screen {
    height: 100% !important;
  }

  .sidenav {
    width: 260px;
    background-color: #404048;
    
    mat-toolbar {
      min-height: 46px !important;
      position: fixed;

      mat-toolbar-row {
        height: 46px;
      }
    }

    mat-list {
      margin-top: 46px !important;
      height: calc(100% - 46px) !important;
      overflow-y: auto;

      .mr-8 {
        margin-right: -8px;
      }
    }

    .toolbar-icon {
      margin-right: -8px;
    }
    
    .toolbar-spacer {
      flex: 1 1 auto;
    }

    .selected {
      background-color: $color-primary;
    }

    mat-list {
      padding: 0;
      margin: 0;
      
      mat-list-item {
        color: #fff;
        &:hover {
          background-color: $color-primary;
          cursor: pointer;
        }
      }
    }

    .small-screen {
      width: 100%;
      background-color: #f1f1f1;

      .selected-pc {
        position: absolute;
        top: -100%;
        z-index: 0;
      }

      .pc {
        width: 100%;
        height: 200px !important;
        z-index: 100;
        
        .btn-menu {
          margin-right: -12px;
        }

        iframe {
          position: absolute;
          margin-top: 46px;
          height: 154px;
          width: 100%;
        }
        
        .loading {
          position: absolute;
          width: 100%;
          height: 200px;
          margin-top: 23px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          
          img {
            width: 80px;
            height: auto;
          }
        }
      }

      mat-toolbar {
        min-height: 46px !important;
        position: absolute !important;
        z-index: 1000;

        mat-toolbar-row {
          height: 46px;
        }
      }

      .toolbar-icon {
        padding: 0 14px;
      }
      
      .toolbar-spacer {
        flex: 1 1 auto;
      }
    }
  }
  
  mat-sidenav-content {

    &.overflow-hide {
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .screen {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      background-color: #ccc;

      .pc {
        position: absolute;
        z-index: 999;
        width: 100% !important;
        height: 100% !important;
        display: flex;
        justify-content: center;
        background-color: #f1f1f1;
      }

      .pc-small {
        position: relative;
        width: 50%;
        height: 50%;
        border: 1px solid #BBB9BB;
        display: flex;
        justify-content: center;
      }


      iframe {
        position: absolute;
        height: calc(100% - 46px);
        width: 100%;
      }

      .loading {
        position: absolute;
        height: calc(100% - 46px);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h2 {
          text-align: center;
        }

        img {
          width: 80px;
          height: auto;
        }
      }

      .hide {
        visibility: hidden;
      }

      mat-toolbar {
        min-height: 46px !important;
        position: absolute;
        bottom: 0;

        mat-toolbar-row {
          height: 46px;
        }
      }

      .toolbar-icon {
        padding: 0 14px;
      }
      
      .toolbar-spacer {
        flex: 1 1 auto;
      }
    }
  }
}

