.mat-dialog-content {
  padding-top: 8px;
}

.mat-dialog-actions {
  justify-content: space-between;
}

:host ::ng-deep .ck-editor__editable {
  min-height: 100px;
  margin-bottom: 24px;

  strong {
    font-weight: 600;
  }

  i {
    font-style: italic;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }
}
