.mat-dialog-title {
  display: flex;
  justify-content: space-between;
}

.mat-dialog-content {
  p {
    margin-bottom: 16px;
  }

  img {
    max-width: 100%;
    margin-bottom: 16px;
  }

  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
    text-align: center;
  }

  pre {
    background-color: #333;
    color: white;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0 !important;
}