<div mat-dialog-title>
  <h1>Installing ThinVNC</h1>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p>ThinVNC is very simple to deploy. All you need to do is install it on a machine you want to access
    remotely</p>
  <p>1: Download the installer from the link below: <a href="http://www.cybelesoft.com/downloads/ThinVNCSetup.exe">ThinVNC</a></p>
  <p>2: Setting</p>
  <div class=img>
    <img src="assets/img/b1.png" alt="">
    <img src="assets/img/b2.png" alt="">
  </div>
  <p>3: Open index.html file by path: C:\Program Files\Thinfinity\Remote Desktop Workstation\web\index.html</p>
  <p>Add script:</p>
  <pre>
   {{ script }}
  </pre>
  <div class="img">
    <img src="assets/img/b3.png" alt="">
  </div>
</div>
