<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>REMOTE COMPUTER ACCSESS SYSTEM</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="_list.addIP()">
      <mat-icon>computer</mat-icon>
    </button>
    <button mat-icon-button (click)="_list.diagram()">
      <mat-icon>device_hub</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>watch_later</mat-icon>
    </button>
    <button mat-icon-button (click)="_list.install()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="_auth.logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
