// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$widecreen: 1200px;
$padding: 1rem;
$border-radius: 3px;
// Height
$toolbar: 56px;
// Overlay
$overlay-dark: rgba(0, 0, 0, 0.8);
$overlay-medium: rgba(0, 0, 0, 0.6);
$overlay-light: rgba(0, 0, 0, 0.4);